/* Write your code here: */
/* Group */
h1,
h2 {
  color: blueviolet;
}
p{
color: red;
}
/* Child */
.box > p {
  color: firebrick;
}

/* Descendent */
.box li {
  color: blue;
}

/* Chained */
li.done {
  color: green;
}

/* Multiple Combiners */
ul p.done {
  font-size: 0.5rem;
}
